.display-warpper
  = render "shared/header"
  .container
    .head
      .head__text いいねした投稿
    .main
      .posts-container
        = render partial: 'posts/post-list', collection: @posts, as: "post"
  = paginate @posts

  = render "shared/footer"