.display-warpper {
  background: #111;
  margin-right: auto;
  margin-left: auto;
  
  .head {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eeeeee;
    margin: 0 auto;
    width: 90%;
    &__text {
      color: #fff;
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .main {
    .posts-container {
      width: 90%;
      margin: 20px auto 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px 20px; 
      
      .thumbnail {
        background-color: #000;
        border: none;
        box-shadow: 0 0 6px #333;
        border-radius: 4px;
      }
      
    }
  }
}