.show-wrapper {
  background: #111;
  margin-right: auto;
  margin-left: auto;
  .show-wrapper {
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    width: 90%;
    .main-photo {
      margin-bottom: 20px;
      margin-top: 20px;
      border: 5px solid white ;
      border-radius: 5px;
      .img-responsive {
        display: block;
        height: auto;
        width:100%;
        max-width: 100%;
      }
    }
    .post-info {
      margin-bottom: 20px;
      &__head {
        color: #333333;
        background-color: #f5f5f5;
        border-color: #dddddd;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        display: flex;
        position: relative;
        .title {
          font-size: 24px;
          margin: 10px 0;
        }
        .user-info {
          display: flex;
          padding-top: 20px;
          &__img {
            overflow: hidden;
            padding: 0px;
            width: 70px;
            height: 70px;
            margin: 0 0 11px;
            position: relative;
            text-align: left;
            .img-thumbnail__display {
              width: 70px;
              height: 70px;
            }
          }
          &__details {
            padding-left: 15px;
            &__user-name {
              font-size: 18px;
              margin: 10px 0;
            }
            &__date {
              margin: 0 0 10px;
              font-size: 14px;
            }
          }
        }
        .head-right {
          display: flex;
          .post-details {
            padding-top: 20px;
            &__anime-title {
              margin: 0 0 5px;
              font-size: 14px;
            }
            &__place {
              margin: 0 0 10px;
              font-size: 14px;
            }
          }
          .post-likes {
            margin-top: 10px;
            margin-left: auto;
              
            .fav {
              .icon {
                font-size: 25px;
              }
              .icon-already {
                font-size: 25px;
                color: orange;
              }
            }
            
          }
          .post-option {
            position: absolute;
            right: 0;
            bottom: 0;
            .edit-link {
              text-decoration: none;
            }
            .delete-link {
              text-decoration: none;
            }
          }
        }
      }
      &__middle {
        color: #333333;
        background-color: white;
        border-color: #dddddd;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        display: flex;
        &__left {
          &__description {
            font-size: 20px;
          }
        }
        &__right {
          &__map {
            .img-responsive {
              display: block;
              height: auto;
              max-width: 100%;
            }
          }
        }
      }
      &__foot {
        color: #333333;
        background-color: #f5f5f5;
        border-color: #dddddd;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        display: flex;
        &__left {
          .comment {
            &__form {
              &__head {
                padding-bottom: 9px;
                margin: 20px 0 20px;
                border-bottom: 1px solid #eeeeee;
                display: flex;
                .icon {
                  margin-right: 7px;
                  line-height: 25px;
                  text-align: center;
                }
              }
              &__body {
                margin-bottom: 15px;
                &__text-form {
                  display: block;
                  width: 100%;
                  padding: 6px 12px;
                  font-size: 14px;
                  line-height: 1.428571429;
                  color: #555555;
                  vertical-align: middle;
                  background-color: #ffffff;
                  background-image: none;
                  border: 1px solid #cccccc;
                  border-radius: 4px;
                  margin-bottom: 20px;
                }
                &__submit {
                  text-align: right;
                  margin-left: auto;
                  display: block;
                }
              }
            }
            &__head {
              padding-bottom: 9px;
              margin: 20px 0 20px;
              border-bottom: 1px solid #eeeeee;
              display: flex;
              .icon {
                margin-right: 5px;
                line-height: 25px;
                text-align: center;
              }
            }
            &__body {
              margin-bottom: 20px;
              background-color: #ffffff;
              border: 1px solid transparent;
              border-radius: 4px;
              padding: 15px;
              color: #333333;
              background-color: white;
              &__head {
                margin: 0 0 10px;
                display: table-cell;
                vertical-align: middle;
                
                &__user {
                  font-weight: bold;
                  color: #006699;
                  text-decoration: none;
                  margin-right: 5px;
                  display: inline-block;
                  
                }
                &__time {
                  font-size: 12px;
                  display: inline-block;
                }
              }
              &__text {
                margin-top: 5px;
              }
            }
          }
        }
        &__right {
          .like {
            
            &__head {
              padding-bottom: 9px;
              margin: 20px 0 20px;
              border-bottom: 1px solid #eeeeee;
              .icon {
                margin-right: 5px;
                line-height: 25px;
                text-align: center;
              } 
            }
            &__user {
              font-weight: bold;
              color: #006699;
              text-decoration: none;
              margin-right: 5px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}