.show-wrapper {
  background: #111;
  margin-right: auto;
  margin-left: auto;
  .show-wrapper {
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    width: 90%;
    .main-photo {
      margin-bottom: 20px;
      margin-top: 20px;
      border: 5px solid white ;
      border-radius: 5px;
      .img-responsive {
        display: block;
        height: auto;
        width:100%;
        max-width: 100%;
      }
    }
    .post-info {
      margin-bottom: 20px;
      &__head {
        color: #333333;
        background-color: #f5f5f5;
        border-color: #dddddd;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        display: flex;
        .title {
          font-size: 24px;
          margin: 10px 0;
        }
        .user-info {
          display: flex;
          padding-top: 20px;
          &__img {
            overflow: hidden;
            padding: 0px;
            width: 70px;
            height: 70px;
            margin: 0 0 11px;
            position: relative;
            text-align: left;
            .img-thumbnail__display {
              width: 70px;
              height: 70px;
            }
          }
          &__details {
            padding-left: 15px;
            &__user-name {
              font-size: 18px;
              margin-top: 10px;
              margin-bottom: 10px;
            }
            &__date {
              margin: 0 0 10px;
              font-size: 14px;
            }
          }
        }
        .post-details {
          padding-top: 20px;
          .post-details__anime-title {
            margin: 0 0 5px;
            font-size: 14px;
          }
          .post-details__place {
            margin: 0 0 10px;
            font-size: 14px;
          }
        }
      }
      &__middle {
        color: #333333;
        background-color: white;
        border-color: #dddddd;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        display: flex;
        &__left {
          &__description {
            font-size: 20px;
          }
        }
        &__right {
          &__map {
            .img-responsive {
              display: block;
              height: auto;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}