.top-warpper {
  background: #111;
  margin-right: auto;
  margin-left: auto;
  .information {
    background: #111;
    color: white;
    font-family: 'arial unicode ms';
    margin-bottom: 0rem;
    h1 p {
      font-family: 'arial unicode ms';
    }
  }
  .row {
    padding: 30px;
    background: #111;
    color: white;
    .col-lg-4 {
      text-align: center;
      .icon {
        height: 140px;
        width: 140px;
        color: white;
        background: #111;
        font-size: 150px;
      }
      h3 {
        padding: 50px 0;
      }
    }
  }
  .login_botton {
    background: #111;
    text-align: center;
    padding: 0px 0 60px 0;
  }
} 