.top-warpper {
  .information {
    background: black;
    color: white;
    font-family: 'arial unicode ms';
    margin-bottom: 0rem;
    h1 p {
      font-family: 'arial unicode ms';
    }
  }
  .row {
    padding: 30px;
    background: black;
    color: white;
    .col-lg-4 {
      text-align: center;
      h2 {
        padding: 30px 0;
      }
    }
  }
} 