.display-warpper
  = render "shared/header"
  .head
    .head__text 全ての投稿
  .main
    .posts-container
      = render partial: 'posts/post-list', collection: @posts, as: "post"

  = render "shared/footer"