.display-warpper
  = render "shared/header"
  .head
    .head__text 全ての投稿
  .main
    .posts-container
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user
      .card.h-100.thumbnail
        %img.card-img-top{:alt => "...", :src => "..."}/
        .card-body
          %h5.card-title Card title
          %p.card-user test-user

  = render "shared/footer"