.display-warpper
  = render "shared/header"
  .head
    .head__text 全ての投稿
  .main
    .posts-container
      .row.row-cols-1.row-cols-md-3
        .col.mb-4
          .card
            %img.card-img-top{:alt => "...", :src => "..."}/
            .card-body
              %h5.card-title Card title
              %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col.mb-4
          .card
            %img.card-img-top{:alt => "...", :src => "..."}/
            .card-body
              %h5.card-title Card title
              %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col.mb-4
          .card
            %img.card-img-top{:alt => "...", :src => "..."}/
            .card-body
              %h5.card-title Card title
              %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content.
        .col.mb-4
          .card
            %img.card-img-top{:alt => "...", :src => "..."}/
            .card-body
              %h5.card-title Card title
              %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

  = render "shared/footer"