.container
  %h1.form-heading login Form
  .login-form
    .main-div
      .panel
        %h2 ユーザー ログイン
        %p 必要事項を入力してください。
      %form#Login
        .form-group
          %input#inputEmail.form-control{placeholder: "メールアドレス", type: "email"}/
        .form-group
          %input#inputPassword.form-control{placeholder: "パスワード", type: "password"}/
        .forgot
          %a{href: "#"} パスワードを忘れた方
        %button.btn.btn-primary{type: "submit"} ログイン
    %p.botto-text Designed by Sunil Rajput
