.login-container
  .header
  .main
    .main_head AnimeMapにログインする
    %form
      .form-group
        %label{:for => "exampleInputEmail1"} メールアドレス
        %input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", :type => "email"}/
      .form-group
        %label{:for => "exampleInputPassword1"} パスワード
        %input#exampleInputPassword1.form-control{:type => "password"}/
      .forget 
        .forget__message パスワードをお忘れの方は
        = link_to 'こちら', root_path, class: "forget__link"
      %button.btn.btn-info.regstration-submit{:type => "submit"} ログイン
  .footer
