.new-post-container
  .header
  .main
    .main_head 新規投稿
    %form
      .form-group
        %label タイトル
        %input.form-control
      .form-group
        %label 画像をアップロード
        %input.input-file{type: "file"}
      .form-group
        %label 作品タイトル
        %input.form-control