.search-warpper
  = render "shared/header"
  .head
    .search-keyword 「」
    .head__text の検索結果
  .main
    .posts-container
      = render partial: 'posts/post-list', collection: @posts, as: "post"

  = render "shared/footer"