.show-wrapper
  = render "shared/header"
  .show-wrapper
    .main-photo
      = image_tag('first_slide.jpg', class: "img-responsive center-block", alt: "First slide")
    .post-info
      .post-info__head
        .col-xs-12.col-sm-5.col-md-6.pb010
          .title ひなみざわ
          .user-info
            .user-info__img
              = image_tag('no_image.jpg', class: "img-thumbnail__display", alt: "no_image.jpg")
            .user-info__details
              .user-info__details__username test
              .user-info__details__date 投稿日：2019年12月21日07時28分55秒
      .post-info__map
  = render "shared/footer"