.show-wrapper
  = render "shared/header"
  .show-wrapper
    .main-photo
      = image_tag('first_slide.jpg', class: "img-responsive center-block", alt: "First slide")
    .post-info
      .post-info__head
        .col-xs-12.col-sm-5.col-md-6.pb010
          .title ひなみざわ
          .user-img
            = image_tag('no_image.jpg', class: "img-thumbnail__display", alt: "no_image.jpg")
          .details
            .details__username
            .details__anime-title
            .details__place
      .post-info__map
  = render "shared/footer"